.root-layout {
    display: grid;
    grid-template-areas:
        "header header header"
        "nav content content"
        "nav content content";
    // The width of the sidebar, fill the rest
    grid-template-columns: 280px 1fr 1fr;
    // The height of the header, fill the rest
    grid-template-rows: 80px 1fr;
    min-height: 100vh;
}

.main-content {
    display: flex;
    flex-direction: column;
    grid-area: content;
    padding: 2rem;

    h1 {
        margin-top: 0;
    }
}